.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #4689cb;
  color: floralwhite;
}

.navbar-dark {
  background-color: #004C98;
}

@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: -40px;
    margin-left: 50px;
  }
}